main {
    margin-left: 5px;
    margin-right: 5px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.right-left {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    padding: 5px;
    margin: 0;
}

.print-table {
    color: #000 !important;
    border: 2px solid black !important;
    border-radius: 10px;
    overflow: hidden;
}

.page-break {
    page-break-after: always;
}

.no-page-break {
    page-break-after: avoid;
}

.print-table table {
    color: black !important;
    page-break-inside: auto;
    table-layout: auto !important;
}

.print-table th,
.print-table td {
  border-right: 2px solid black !important;
}

.print-table th:last-child,
.print-table td:last-child {
  border-right: 0px solid black !important;
}

.print-table thead tr {
    border-bottom: 2px solid black !important;
}

.print-table tfoot tr {
    border-top: 2px solid black !important;
    border-bottom: 0px !important;
}

.print-table tbody tr td {
    border-top: 2px solid black !important;
}

.print-table tfoot tr td {
    border-bottom: 0px !important;
}

.print-table p {
    margin: 2px;
    overflow-wrap: anywhere;
}